@mixin text-size($base) {
  font-size: $base;
  @for $i from 1 through 3 {
    &-#{$i} {
      font-size: $base + (0.25 * $i);
    }
  }
}

.text-sm {
  @include text-size(1rem);
}

.text-md {
  @include text-size(2rem);
}

.text-lg {
  @include text-size(3rem);
}

.text-tight {
  line-height: 100%;
}

.list-spacing {
  list-style: none;
  counter-reset: li;
  li::before {
    @extend .border-50;
    $bullet-size: 2.5rem;
    content: counter(li);
    color: white;
    background-color: $blue;
    margin-right: 10px;
    display: inline-block;
    width: $bullet-size;
    height: $bullet-size;
    text-align: center;
  }
  li {
    counter-increment: li;
    margin: 20px 0;
  }
}

.letter-spaced {
  letter-spacing: 2px;
}

.title {
  font-weight: bold;
}
